mule/target/classes/ws.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd">
	<http:listener-config name="soa_esb" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="http_endereco_service_api" host="localhost" port="9004" enableCookies="true" doc:name="HTTP Request Configuration"/>
    <http:request-config name="http_cliente_service_api" host="localhost" port="9001" doc:name="HTTP Request Configuration"/>
    <http:request-config name="http_login_service_api" host="localhost" port="9002" doc:name="HTTP Request Configuration"/>
    <cxf:configuration name="CXF_Configuration" enableMuleSoapHeaders="true" initializeStaticBusInstance="true" doc:name="CXF Configuration"/>
    <http:request-config name="http_produto_service_api" host="localhost" port="9003" doc:name="HTTP Request Configuration"/>
    
    <flow name="flow_endereco">
        <http:listener config-ref="soa_esb" path="/endereco" allowedMethods="GET,POST" doc:name="SOAP">
            <http:response-builder>
            </http:response-builder>
        </http:listener>
        <cxf:simple-service configuration-ref="CXF_Configuration" serviceClass="com.github.dsaouda.fiapesb.ws.EnderecoService" doc:name="CXF"/>
        <http:request config-ref="http_endereco_service_api" path="/v1/cep" method="GET" parseResponse="false" doc:name="rest endereco api">
            <http:request-builder>
                <http:query-param paramName="codigo" value="#[payload]"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Message" metadata:id="0cfe6622-a8ad-4124-b918-5b708ee83cd6">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	bairro: payload.bairro,
	cep: payload.cep,
	cidade: payload.localidade,
	endereco: payload.logradouro,
	uf: payload.uf
} as :object {
	class : "com.github.dsaouda.fiapesb.model.Endereco"
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    
    <flow name="flow_cadastro_cliente">
        <http:listener config-ref="soa_esb" path="/cliente" allowedMethods="GET,POST" doc:name="SOAP"/>
        <cxf:simple-service configuration-ref="CXF_Configuration" namespace="http://localhost:8081/Cliente" service="Cliente" serviceClass="com.github.dsaouda.fiapesb.ws.ClienteService" doc:name="CXF"/>
        <dw:transform-message doc:name="transforma para cliente" metadata:id="0732a76a-416f-4e94-bf0b-8c0c575fbe1b">
            <dw:input-payload mimeType="application/java"/>            
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	cpf: payload.cpf,
	nome: payload.nome
}]]></dw:set-payload>
            <dw:set-variable variableName="cliente"><![CDATA[%dw 1.0
%output application/json encoding="utf8"
---
{
	cpf: payload.cpf,
	nome: payload.nome
}]]></dw:set-variable>
            <dw:set-variable variableName="login"><![CDATA[%dw 1.0
%output application/json encoding="utf8"
---
{
	cliente_cpf: payload.cpf,
	login: payload.login,
	senha: payload.senha
}]]></dw:set-variable>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" category="cliente" doc:name="log cliente"/>

        <http:request config-ref="http_cliente_service_api" path="/v1/cliente" method="POST" doc:name="rest cliente api">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json;charset=UTF-8"/>
            </http:request-builder>
        </http:request>
        <logger message="#[message.payloadAs(String)]" level="INFO" doc:name="log resposta cliente" category="resposta_cliente"/>
        <dw:transform-message doc:name="transforma para login" metadata:id="81b9ffbf-4362-4316-9994-ec09bd9197c0">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	cliente_cpf: payload.cpf,
	cliente_uuid: payload.uuid,
	login: flowVars.login.login,
	senha: flowVars.login.senha,
	uuid: null
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="log login" category="login"/>
        <http:request config-ref="http_login_service_api" path="/v1/login" method="POST" doc:name="rest login api">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json;charset=UTF-8"/>
            </http:request-builder>
        </http:request>
        <logger message="#[message.payloadAs(String)]" level="INFO" doc:name="log resposta login" category="resposta_login"/>
        <dw:transform-message doc:name="transformar para cliente" metadata:id="eedb42b6-15bd-48b8-8983-70d073c3c280">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	cpf: payload.cliente_cpf,
	id: payload.cliente_uuid,
	login: payload.login,
	loginId: payload.uuid,
	nome: flowVars.cliente.nome,
	senha: payload.senha
} as :object {
	class : "com.github.dsaouda.fiapesb.model.Cliente"
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" category="resposta_para_soap" doc:name="log resposta para soap"/>
    </flow>
    <flow name="flow_produto">
        <http:listener config-ref="soa_esb" path="/produto" allowedMethods="GET,POST" doc:name="SOAP"/>
        <cxf:simple-service configuration-ref="CXF_Configuration" namespace="http://localhost:8081/Produto" service="Produto" serviceClass="com.github.dsaouda.fiapesb.ws.ProdutoService" doc:name="CXF"/>
        <http:request config-ref="http_produto_service_api" path="/v1/produto/{id}" method="GET" doc:name="rest produto api">
            <http:request-builder>
                <http:uri-param paramName="id" value="#[payload]"/>
            </http:request-builder>
        </http:request>
        <logger message="#[message.payloadAs(String)]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="9b11e425-e8a0-4389-ba71-949467f9c918">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	descricao: payload.descricao,
	foto: payload.foto,
	id: payload.id,
	nome: payload.nome,
	valor: payload.valor
} as :object {
	class : "com.github.dsaouda.fiapesb.model.Produto"
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="flow_checkout">
        <http:listener config-ref="soa_esb" path="/checkout" allowedMethods="GET,POST" doc:name="SOAP">
            <http:response-builder/>
        </http:listener>
        <cxf:simple-service configuration-ref="CXF_Configuration" namespace="http://localhost:8081/checkout" service="checkout" serviceClass="com.github.dsaouda.fiapesb.ws.CheckoutService" doc:name="CXF" metadata:id="2081a743-b23d-4552-9011-4b1ab8194eca"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="d7237134-0a15-49dc-8ff1-18ae025fdc0b">
            <dw:input-payload mimeType="application/java"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	login: payload.cliente.login,
	senha: payload.cliente.senha
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="http_login_service_api" path="/v1/auth" method="POST" doc:name="rest auth" metadata:id="be193789-ce68-4a3c-915f-f0bcd5e3cf11"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" encoding="UTF-8" mimeType="application/json" doc:name="JSON to Object"/>
 
        <logger message="#[(payload.cliente_cpf)]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="http_cliente_service_api" path="/v1/cliente/{cpf}" method="GET" doc:name="rest cliente info" metadata:id="a357380c-2738-48b7-b980-8b151feb4411">
            <http:request-builder>
                <http:uri-param paramName="cpf" value="#[payload.cliente_cpf]"/>
            </http:request-builder>
        </http:request>
        <logger message="#[message.payloadAs(String)]" level="INFO" doc:name="Copy_of_Logger"/>
    </flow>
    
</mule>

<!-- 
valor
cliente_nome
cliente_documento
endereco_logradouro
endereco_bairro
endereco_cep
endereco_cidade
endereco_uf
 -->